---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@enclosedmoney" />
		<meta name="twitter:title" content="Enclosed.Money" />
		<meta name="twitter:description" content="Your ERC20 Tokens just got better" />
		<meta name="twitter:image" content="/twitter-card.png" />

		<title>{title}</title>
		<script src="https://kit.fontawesome.com/d2f57f19aa.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<slot />
	</body>
</html>